.featured-heading {
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom:0.5em;
}

.featured-heading + p {
    font-weight: 500;
}

.city-btn,.btn-view-all {
    border-radius: 2em;
    padding: 0.7em 1.6em;
    border: 1px solid #3531dc;
    font-weight: bold;
    font-size: 0.9em;
}

.city-btn {
    border-color: #edf0f6;
    background-color: #edf0f6;
    margin-right: 1em;
    transition: 0.2s linear;
}

.active {
    border-color: #2623fc;
    background-color: #2623fc;
    color: white;
}

.btn-view-all {
    color: #3531dc;
}